@font-face {
    font-family: 'Montserrat';
    src: url('../src/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../src/fonts/Montserrat-Regular.woff') format('woff'),
        url('../src/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../src/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../src/fonts/Montserrat-Bold.woff') format('woff'),
        url('../src/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 16px;
    background: #F3F3F3;
}

.container {
    padding-right: 16px;
    padding-left: 16px;
    margin: auto;
    width: 100%;
}

.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    &__logo-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__nav-box {
        display: flex;
        gap: 115px;
        a {
            text-decoration: none;
            color: #022A66;
        }
    }
    &__button-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 118px;
        height: 40px;
        border: 1px solid #0455CC;
        background: rgba(0,0,0,0);
        border-radius: 31px;
        font-weight: 400;
        color: #0455CC;
    }
}

.footer {
    padding-bottom: 30px;
	width: 100%;
	background: #E4E4E4;
	&__header {
		margin-bottom: 10px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__left-wrapper {
		h2 {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 1rem;
			color: #000000;
		}
		a {
			color: #000000;
		}
	}
	&__center-wrapper {
		display: flex;
		align-items: center;
		gap: 60px;
	}
	&__right-wrapper {
		h2 {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 1rem;
			color: #000000;
			text-align: right;
		}
	}
}

// //* адаптация
// //! мобильная версия
// @media (min-width: 576px) {
//     .container {
//         max-width: 576px;
//     }
// }

// @media (min-width: 768px) {
//     .container {
//         max-width: 768px;
//     }
// }
// //!/

// @media (min-width: 992px) {
//     .container {
//         max-width: 992px;
//     }
// }

// @media (min-width: 1200px) {
//     .container {
//         max-width: 1200px;
//     }
// }

// @media (min-width: 1400px) {
//     .container {
//         max-width: 1400px;
//     }
// }

// @media (min-width: 1920px) {
//     .container {
//         max-width: 1800px;
//     }
// }