.first-section {
	min-height: 737px;
	background: linear-gradient(180deg, #FFFFFF 1.56%, #F47575 42.41%, #E399EA 90.62%);
	border-radius: 0px 0px 50px 50px;
	&__img {
		position: absolute;
		padding-top: 50px;
		padding-left: 820px;
	}
	&__title {
		width: 1210px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 3rem;
		color: #FFFFFF;
		margin-bottom: 30px;
	}
		span {
			color: #7453AF;
		}
	&__text {
		width: 783px;
		font-family: 'Century Gothic';
		font-weight: 700;
		font-size: 1.1rem;
		color: #FFFFFF;
		margin-bottom: 60px;
	}
	&__button {
		width: 311px;
		height: 60px;
		border: none;
		background: #0455CC;
		border-radius: 46px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 1.5rem;
		color: #FFFFFF;
	}
}