.events {
	padding-top: 120px;
	background-image: url(./src/img/circle-blue-left.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	margin-bottom: 60px;
	&__content {
		display: flex;
		justify-content: space-between;
	}
}

.event-item {
	width: 30%;
	aspect-ratio: 1 / 1;
	background: #FFFFFF;
	border-radius: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__title {
		font-weight: 700;
		font-size: 2.1rem;
		background: linear-gradient(269.86deg, #87ABF1 3.18%, #A6F499 92.73%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-align: center;
		&_orange {
			background: linear-gradient(269.86deg, #F57979 3.18%, #FFBD5A 92.73%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
		&_violet {
			background: linear-gradient(269.86deg, #F57979 3.18%, #7453AF 92.73%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
}